---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NotFoundHero from "../components/NotFoundHero.astro";
---

<Layout title="404 - Pagina Non Trovata">
    <div class="min-h-screen flex flex-col">
        <Navigation />
        <main class="flex-grow w-full relative z-10">
            <NotFoundHero />
        </main>
    </div>
</Layout>
