---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NotFoundHero from "../components/NotFoundHero.astro";
---

<Layout title="404 - Errore Fatale">
    <div class="min-h-screen">
        <Navigation />
        <main class="lg:ml-64 relative z-10">
            <NotFoundHero />
        </main>
    </div>
</Layout>
