name: Daily Build

on:
  schedule:
    # Runs at 08:00 UTC every day
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  trigger_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Trigger update
        run: |
          date > last_build_trigger.txt
          git config --global user.name 'Daily Build Bot'
          git config --global user.email 'bot@roccoandrealigorio.it'
          git add last_build_trigger.txt
          git commit -m "Daily Content Release Trigger"
          git push
